doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width')
  title URI test
  link(href='stylesheets/style.css', rel='stylesheet')

#profile.container
  h2.section-heading.text-uppercase profile
  p
    img(src='./images/img-book.jpg', width='20%', alt='test')
    br
    |         Subject - 컴퓨터 네트워크
    br
    |         Professor - 이경근 교수님
    br
    |         Book - 컴퓨터 네트워킹 하향식 접근 7판